.chart-container {
    width: 800px;
    height: 400px;
    margin: 30px;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .chart-container {
        width: 400px;
        height: 200px
    }
}

@media screen and (max-width: 600px) {
    .chart-container {
        width: 500px;
        height: 250px;
        margin-left: -10px
    }
}

@media screen and (max-width: 768px) {
    .chart-container {
        width: 500px;
        height: 250px;
        margin-left: -10px
    }
}

@media screen and (max-width: 1024px) {
    .chart-container {
        width: 800px;
        height: 550px;
        margin-left: -200px
    }
}